.drag {
  width: 200px;
  height: 200px;
  background: red;
  position: absolute;
  z-index: 9999999;
}
.darkModeBtn {
  padding: 15px !important;
}
.chatBtn {
  padding-top: 7px !important;
}
.darkModeBtn:hover .speedDialIcon {
  color: white !important;
}
.darkModeBtn:hover {
  background-color: rgba(0, 0, 0, 0.7) !important;
}
