.formContainer {
  height: 270px;
  display: flex;
  background-color: white;
  align-items: center;
  width: 50%;
  padding: 2rem;
  justify-content: center;
  margin: 3rem auto;
  border-radius: 18px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.form_wrapper {
  background-color: #f4f7fa;
  margin-bottom: 2rem;
  border-radius: 16px;
  padding: 4rem 0;
}
.contactInput {
  border-radius: 4px;
  width: 100%;
  font-family: var(--poppins);
}
.contactInput::placeholder {
  font-family: var(--poppins);
  letter-spacing: 1.1px;
}
.formInput {
  display: flex;
  flex-direction: column;
  flex: 7.5;
  gap: 2rem;
  align-items: center;
  width: 100%;
  justify-content: center;
}
.formInput input {
  border: 0.4px solid gainsboro;
  width: 100% !important;
  padding: 1rem;
  padding-bottom: 0.3rem;
  font-size: 18px;
  border: none;
  border-bottom: 0.3px solid rgba(199, 199, 199, 0.342);
}

.formInput input::placeholder,
.formInput textarea::placeholder {
  color: rgba(121, 121, 121, 0.788);
  letter-spacing: 1.1px;
  font-weight: 400;
  font-size: 18px;
}

.inputMessageBox {
  align-items: center;
  display: flex;
  position: relative;
}

.sendBtn {
  width: 3rem !important;
  color: white !important;
}
.iconButtonBox {
  position: absolute !important;
  right: -70px;
  bottom: -1rem;
}
.formAnimation {
  flex: 4.5;
  height: 100%;
}
.messageBoxText {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.messageBoxText h3 {
  font-family: "Space Grotesk", sans-serif;
  font-size: 2rem;
  color: rgb(43, 42, 42);
  letter-spacing: 1.1px;
}
