.filteredUi {
  min-height: 80px;
  height: fit-content;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  margin: 0 auto;
  gap: 20px;
  background-color: #f4f7fa;
  width: 80%;
}

.filteredUiLeft {
}
.filteredUi-left-container {
  flex: 6;
  cursor: pointer;
}
.filteredUiRight {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  flex: 6;
}
.chipsContainer {
  padding: 0;
}
.filterText {
  color: gray;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1.1px;
  font-family: var(--poppins);
}
.filterItem {
  display: flex;
  min-width: 70px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 5px;
}
.resultFoundText {
  color: gray;
  font-family: var(--poppins);
  margin: 8px 0;
  font-size: 13px;
}
.filteredUiBox {
  box-shadow: rgb(50 50 93 / 16%) 0px 50px 100px -20px,
    rgb(0 0 0 / 18%) 0px 30px 60px -30px;
  background-color: #f4f7fa;
}
.filteredUiBox select {
  background-color: transparent !important;
}
.search_results {
  margin: 25px 0;
  margin-bottom: 5px;
}
.labelName {
  color: rgb(167, 167, 167);
  margin-bottom: 3px;
  display: block;
  font-weight: 100;
  letter-spacing: 1.1px;
  font-size: 12px;
  font-family: var(--poppins);
  padding-left: 6px;
  color: rgba(137, 43, 226, 0.582);
}
.filter_item_list {
  text-align: start;
  padding: 5px 0;
  border-radius: 3px;
  box-shadow: rgba(139, 138, 138, 0.2) 0px 2px 8px 0px;
}
.filter_item_list * {
  font-weight: 100;
  letter-spacing: 1.1px;
  color: #1b1b1b;
  font-size: 13px;
}
.techFilterSelect {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 9px;
}
.labelName {
  font-size: 12px;
  margin-bottom: 5px;
  text-align: start;
  color: #a3a3a3;
}
.filterRightItemWrapper {
  flex: 1;
}
