.project_container {
  padding-left: 2rem;
  align-items: center;
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr 1fr;
}

.projects {
  background: none;
}
.next_project_btn {
  background: rgb(111, 30, 233);
  background: linear-gradient(
    45deg,
    rgba(111, 30, 233, 0.7321814254859611) 16%,
    rgba(139, 6, 227, 0.7926565874730022) 48%,
    rgba(11, 115, 255, 0.7710583153347732) 100%
  );
}
.projects_header {
  margin-bottom: 2rem;
  text-align: center;
}
.projects_header h1 {
  letter-spacing: 1.1px;
  width: max-content;
  color: #5e7cd4;
  font-family: "Space Grotesk", sans-serif;
}
.project_title::after {
  content: "";
  border-radius: 38px 100px;
  position: absolute;
  bottom: -1rem;
  height: 8px;
  width: 33%;
  background: linear-gradient(90deg, #5e7bd4b0 31%, #df00dfaf 73%);
}
.projects_header h1 span {
  color: #df00df;
  font-family: "Space Grotesk", sans-serif;
  margin-right: 8px;
}
.projects_header p {
  color: #868686da;
  font-weight: 100;
  line-height: 25px;
  letter-spacing: 1.02px;
  font-family: "poppins";
  font-size: 14px;
}
.project_title {
  margin: 0 auto;
  gap: 1.5rem;
  margin-bottom: 3rem;
  justify-content: center;
  align-items: center;
  position: relative;
  display: inline-flex;
}

@media screen and (max-width: 768px) {
  .projects_header p {
    font-size: 12px;
    font-family: "Space Grotesk", sans-serif;
  }
}
