.featuresitem_del_btn {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: rgba(201, 0, 201, 0.432);
  color: white;
  font-weight: bold;
  display: grid;
  place-items: center;
  cursor: pointer;
  position: absolute;
  left: -32px;
  padding-bottom: 2rem;
}
.admin_uploadBox {
  margin-bottom: 3rem;
}
