.project_cat_header_list {
  display: flex;
  margin: 2rem;
  justify-content: center;
  align-items: center;
  gap: 27px;
}
.project_cat_header {
  margin-top: 2rem;
}
.project_cat_container {
  width: 100%;
  border: 0.3px solid rgb(247, 246, 246);
  border-radius: 4px;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding: 1rem;
}
.project_cat_list_item {
  color: gray;
  background: #5050500f;
  padding: 8px 20px;
  border-radius: 26px;
  position: relative;
  cursor: pointer;
  font-family: var(--poppins);
  transition: all 0.3s ease-in-out;
  box-shadow: rgba(100, 100, 111, 0.363) 0px 7px 29px 0px;
}

/* .project_cat_list_item:hover {
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
} */
.project_cat_list_item::after {
  content: "";
  position: absolute;
  bottom: -20px;
  right: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  background-color: rgb(176 175 175 / 19%);
  width: 80px;
  border-radius: 5px;
  height: 3px;
}

.activeCat {
  background: var(--dark_gradient) !important;
  color: white;
  transform: scale(1.12);
}
.activeCat::after {
  content: "";
  position: absolute;
  bottom: -14px;
  right: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  background-color: rgba(128, 128, 128, 0.767);
  width: 80px;
  border-radius: 5px;
  height: 3px;
  background: rgb(111, 30, 233);
  background: linear-gradient(
    45deg,
    rgba(111, 30, 233, 0.7321814254859611) 16%,
    rgba(139, 6, 227, 0.7926565874730022) 48%,
    rgba(11, 115, 255, 0.7710583153347732) 100%
  );
}
.project_cat_container {
  display: flex;
}
.project_cat_more_btn {
  border-radius: 3px;
  color: gray;
  border: 0.45px solid rgba(128, 128, 128, 0.466);
}

@media screen and (max-width: 1024px) {
  .project_cat_list_item {
    font-size: 12px;
  }
}
