.loginWithBox {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  justify-content: center;
  display: flex;
}
.loginWith {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 0.71rem;
  gap: 10px;
  transition: all 0.2s ease-in-out;
}
.loginWith img {
  width: 30px;
}
.loginWith .loginWithText {
  font-family: var(--poppins);
  font-size: 12px;
  color: #242424;
  letter-spacing: 1.1px;
}
.loginWith:hover {
  color: blueviolet;
  transform: scale(1.1);
}

.divider {
  height: 1px;
  width: 50%;
  background-color: rgba(167, 167, 167, 0.479);
  margin: 2rem auto;
}
.dividerBox {
  gap: 10px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.or_text {
  color: rgba(167, 167, 167, 0.801);
}
.modalButtons {
  background: #151515 !important;
  color: white;
  display: flex;
  align-items: center;
  opacity: 0.8;
  letter-spacing: 1.2px;
  font-size: 16px;
  height: 40px;
  border-radius: 3px;
  padding-left: 1.52rem;
  gap: 1rem !important;
  justify-content: flex-start !important;
  transition: all 0.2s ease-in-out;
  width: 80%;
}
.modalButtons span {
  letter-spacing: 1.4px;
}
.modalButtons_2 {
  border-radius: 0 22px;
}
.modalButtons:hover {
  transform: scale(1.1);
}
.modal_header_text {
  color: gray;
  font-weight: 400;
  letter-spacing: 1.1px;
  font-family: var(--poppins);
  margin: auto;
  margin-bottom: 1rem;
}
.css-1oxhx2p {
  z-index: 999 !important;
}
.loginModalHeaderBox {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-bottom: 2rem;
  gap: 0.81rem;
  margin-top: 4rem;
  margin-bottom: 0rem;
}
.loginModalHeaderBox h1 {
  font-size: 2.1rem;
  display: flex;
  font-family: "Space Grotesk";
  align-items: center;
  letter-spacing: 2px;
  gap: 10px;
  color: rgba(18, 18, 27, 0.801);
}
.hrLine {
}
.focusText {
  font-size: 2.4rem;
  color: rgb(154, 0, 185);
}
.loginModalSmallText {
  font-size: 10px;
  color: rgb(29, 29, 29);
}
.loginModalLogoBox img {
  position: absolute;
  left: 0;
  top: 0;
  width: 120px;
}
.loginWithWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: max-content;
}
